.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 140px;
  height: 40px;
  background-color: $green-dark;
  color: $white-medium;
  border-radius: 20px;
  border: none;
  transition: 0.5s;
  cursor: pointer;

  &:hover,
  &:active {
    background-color: $green-medium;
    color: $white-medium;
    text-decoration: none;
  }

  &_filter {
    width: 115px !important;
  }
}

.button-light {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 140px;
  height: 40px;
  background-color: $white-medium;
  color: $green-light;
  border-radius: 20px;
  border: 1px $green-light solid;
  transition: 0.5s;
  cursor: pointer;
  &:hover,
  &:active {
    color: $white-medium;
    background-color: $green-medium;
    text-decoration: none;
  }
}

.button-arrow {
  text-align: center;
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 5px;
  background: none;
  border: none;
  transition: .3s;

  &:hover {
    background-color: $green-extra-light-opacity;
  }
}

.clean-card-btn {
  height: 20px;
  border: none;
  background: none;
  cursor: pointer;
  color: $grey-medium;
  transition: .3s;

  &:hover {
    color: $green-medium;
  }
}

.link-navigation {
  height: 50px;
  width: 100%;
  border-bottom: 1px $grey-light solid;
  display: flex;
  align-items: center;
  gap: 10px;

  &__link,
  &__slash {
    color: $grey-medium;
    transition: .3s;
  }

  &__link:hover {
      color: $green-medium;
    }
}

