.cart-page {
  margin-top: 25px;
  position: relative;
  height: calc(100% - 25px);
  display: flex;
  flex-direction: column;
}

.empty-cart-page {
  padding: 30px 0px 100px;
  width: 100%;
  flex-grow: 1;
  display: flex;

}

.empty-cart-page__img {
  width: 150px;
}

.empty-cart-page__block {
  padding-left: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.empty-cart-page__text {
  font-size: 40px;
}

.empty-cart__btn.button {
  width: 160px;
}