.product-page {
  margin-top: 25px;
  position: relative;
  width: 100%;
  background: url(./assets/img/product-card-bg.jpg);
  background-position: bottom right;
  background-size: 40% ;
  background-repeat: no-repeat;
  min-height: 1100px;
}

.product-page__top-block {
  display: flex;
}

// Photo block

.product-page__photo-block {
  width: 50%;
  background: url(./assets/img/catalog/img_1_1.jpg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 400px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 20px;
  cursor: pointer;
}

.product-page__photo-mini {
  width: 10%;
  border: 1.5px $grey-medium solid;
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
  transition: .3s;

  &:hover {
    border: 1.5px $green-light solid;
  }

  &.product-page__photo-mini_active {
    border: 1.5px $green-light solid;
  }
}

// Sales block

.product-page__sales-block {
  width: 50%;
  display: flex;
  flex-direction: column;
  padding-left: 20px;
}

.product-page__stoke-block {
  margin-bottom: 40px;
}

.product-page__stoke-text {
  color: $green-light;
  font-weight: bold;
}

.product-page__stoke-amount {
  color: $grey-medium;
}

.product-page__price-block {
  display: flex;
  align-items: flex-end;
  gap: 10px;
  margin-bottom: 15px;
}

.product-page__new-price {
  color: $green-light;
  font-weight: bold;
  font-size: x-large;

  &_sale {
    color: $purple-medium;
  }

}

.product-page__old-price {
  color: $grey-medium;
  text-decoration: line-through;
}

.product-page__buttons-block {
  display: flex;
  gap: 15px;
  margin-bottom: 10px;
}

.product-page__info-block {
  background-color: rgba(255, 255, 255, 0.5);
}

// Bottom block

.product-page__bottom-block {
  margin-top: 50px;
  margin-bottom: 50px;
  width: 60%;
  position: relative;
}

.product-page__specification-item {
  position: relative;
  margin-top: 25px;
  display: flex;
}

.product-page__specification-name,
.product-page__specification-text {
  display: block;
  width: 50%;
}

.product-page__specification-name {
  color: $grey-medium;
  border-bottom: 1px $grey-medium dotted;
}