.type {
  @include flexbox(flex-start, space-between);
  flex-direction: column;
  gap: 10px;

  &__title {
    margin-top: 0;
    color: $green-medium;
  }

  &__check {
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    user-select: none;
  }

  .check {
    &__input {
      position: absolute;
      opacity: 0;
    }

    &__span {
      position: absolute;
      top: 0;
      left: 0;
      height: 16px;
      width: 16px;
      border-radius: 3px;
      background-color: $grey-light;
      transition: 0.5s;
    }
  }

  .check:hover .check__input ~ .check__span {
    background-color: $green-extra-light;
  }

  .check__input:checked ~ .check__span {
    background-color: $green-medium;
  }
}
